{
  "parserOptions": {
    "ecmaVersion": 8
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "worker": true,
    "mocha": true
  },
  "rules": {
    "semi": [2, "always"],
    "quotes": [
      2,
      "single",
      { "avoidEscape": true, "allowTemplateLiterals": true }
    ], 
    "max-len": [
      "error",
      {
        "code": 500
      }
    ]
  }
}
