body {
  margin: 0;
  padding: 0;
  background-color: #f5d06f;
  // background-color: #E7B24E;
}
.header .container,
.content .container {
  width: 90%;
}
.wrapper {
  // height: 100vh;
  background-color: white;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 10px;
  width: calc(100vw - 130px);

  .content {
    padding: 40px 0;
    .container {
      margin: 0 auto;
      .content__top{
        height: 50px;
      }
      .content__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
      }
    }
  }
}
